page-home {
    .content{
        background-image: url("../assets/imgs/cog.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 700px;
    }
    .lab{
        color: darkblue;
        font-family: arial;
        font-size:x-large;
    }
    .order{
        font-family: arial;
        font-size:x-large;
        color:white;
    }
    .cups{
        color: black;
    }
    .ima{
        image-resolution: 100px;
        height: 40mm;
        width: 50mm;
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
    }
}
